<div class="shopping-list-container">
  <h1>Lista de Compras</h1>

  <!-- Formulário de adição/edição de item -->
  <form (ngSubmit)="addItem()" #itemForm="ngForm">
    <input
      type="text"
      [(ngModel)]="newItem"
      name="newItem"
      placeholder="Adicione um item"
      required
    />
    <button type="submit" [disabled]="itemForm.invalid">
      {{ currentIndex !== null ? 'Editar' : 'Adicionar' }}
    </button>
  </form>

  <div class="list">
    <h2>Itens Não Comprados</h2>
    <ul>
      <ng-container *ngFor="let item of items; let i = index" [ngClass]="{'purchased': item.purchased}">
        <li *ngIf="!item.purchased">
          <span>{{ item.name }}</span>
          <button aria-label="Marcar como comprado" (click)="markAsPurchased(i)">✔</button>
          <button aria-label="Editar item" (click)="editItem(i)">✏️</button>
          <button aria-label="Deletar item" (click)="deleteItem(i)">🗑️</button>
        </li>
      </ng-container>
    </ul>

    <h2>Itens Comprados</h2>
    <ul>
      <ng-container *ngFor="let item of items; let i = index" [ngClass]="{'purchased': item.purchased}">
        <li *ngIf="item.purchased">
          <span>{{ item.name }}</span>
          <button aria-label="Editar item" (click)="editItem(i)">✏️</button>
          <button aria-label="Deletar item" (click)="deleteItem(i)">🗑️</button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
